
.p-arrow__left{
  border-color:  transparent transparent #707070 #707070;
}
.p-arrow__right{
  border-color: #707070 #707070 transparent transparent;
}

.p-arrow__LeftItem{
  left: 20px;
}
.p-arrow__RightItem{
  right: 20px;
}