@use "../../foundation/_mixin.scss" as m;

.p-main__aside{
  background-image: url(../img/43.png),url(../img/map.png);
  background-size: cover,cover;
  position: relative;
    h4{
      font-size: 30px;
      color: #FFFFFF;
      padding-top: 1.4em;
      padding-left: 11%;
      position: relative;
        @include m.tab{
          padding-left: 5%;
          padding-top: 42px;
        }
        @include m.pc{
          padding: 86px 0 0 7.7%;
        }
        &::after{
          content: '';
          position: absolute;
          bottom: -15px;
          width: 75px;
          height: 4px;
          background-color: #FFFFFF;
          display: block;
            @include m.pc{
              bottom: -50.5px;
            }
          }
     }
      }
.p-main__aside--p{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 33px;
  color: #FFFFFF;
  padding: 29px 11% 15% 11%;
  position: relative;
    @include m.tab{
      padding: 29px 3.5% 5% 5%;
    }
    @include m.pc{
      padding: 109px 8.6% 8% 7.7%;
      font-size: 16px;
      width: 61.9%;
    }
}