@use "../foundation/_mixin.scss" as m;

.l-sidebar{
  right: 100%;
  color: #707070;
  position: absolute;
  display: none;
  height: -webkit-fill-available;
    h2{
      font-family: 'Roboto', sans-serif;
      font-size: 34px;
      padding: 84px 0px 90px 46px;
      display: none;
        @include m.pc{
          display: inline-block;
        }
    }
    h3{
      font-size: 24px;
      padding:0 0 46px 32px;
      }
      ul{
        margin-bottom: 28px;
      }
    li{
      font-size: 20px;
      list-style: none;
      padding: 0 0 20px 66px;
    }
  @include m.pc{
    right: 0;
    background-color: #F2EDE9;
    display: block;
    width: 20%;
}
}
.l-sidebar.is-active{
  display: block;
  right:0;
  background-color: #F2EDE9;
  padding-top: 178px;
  animation: SlideIn 0.2s;
  position: fixed;
  overflow-y: scroll;
  width: 367px;
}

@keyframes SlideIn {
  0% {
    transform: translateX(180px);
  }
  100% {
    transform: translateX(0);
  }
}