@use "../../foundation/_mixin.scss" as m;

.c-button{
  display: inline-block;
  width: 90px;
  height: 46px;
  color: #707070;
  background: linear-gradient(#F2EDE9, #DED8D3);
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #707070;
  border-radius: 10px;
  margin-left: 16px;
    @include m.pc{
      width: 136px;
    }
}