@use "../../foundation/_mixin.scss" as m;

.c-single__MainImg{
  background-image: url(../img/ham-burger-with-vegetables-1639557.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 200px;
    @include m.tab{
      height: 500px;
    }
  h1{
    font-size: 36px;
    color: #FFFFFF;
    padding: 93px 0 0 23px;;
      @include m.tab{
        font-size: 40px;
        padding: 213px 0 0 86px;
      }
  }
}
